<a href="https://colab.research.google.com/github/SAYANDIP1/PYTHON/blob/master/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 5.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 16.8 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824028 sha256=eba6c1e08dea29a58ae073bdc6ab1486c4f0a4f045a8f16baf64cc18846c08fe
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [33]:
spark

In [78]:
##read a dataset (if inferSchema="true" is not mentioned everything will be treated as STRING Datatype)
df_pyspk=spark.read.option("header","true").csv("part2Set1.csv",inferSchema="true")

In [79]:
##description
df_pyspk

DataFrame[NAME: string, AGE: int, EXP: int]

In [80]:
#whole dataset
df_pyspk.show()

+-----+---+---+
| NAME|AGE|EXP|
+-----+---+---+
|harry| 32|  4|
|rohan| 67|  5|
|sayan| 89|  6|
|rohit| 43|  6|
+-----+---+---+

In [42]:
df_pyspk.printSchema()

root
 |-- NAME: string (nullable = true)
 |-- AGE: string (nullable = true)
 |-- EXP: string (nullable = true)

In [45]:
df_pyspk=spark.read.csv("part2Set1.csv",header=True,inferSchema=True)

In [46]:
df_pyspk.printSchema()

root
 |-- NAME: string (nullable = true)
 |-- AGE: integer (nullable = true)
 |-- EXP: integer (nullable = true)

In [81]:
type(df_pyspk)

pyspark.sql.dataframe.DataFrame

In [50]:
#to get the colomn names 
df_pyspk.columns

['NAME', 'AGE', 'EXP']

In [82]:
#how to get specific columns 
df_pyspk.select("NAME").show()
df_pyspk.select("NAME",'EXP').show()

+-----+
| NAME|
+-----+
|harry|
|rohan|
|sayan|
|rohit|
+-----+

+-----+---+
| NAME|EXP|
+-----+---+
|harry|  4|
|rohan|  5|
|sayan|  6|
|rohit|  6|
+-----+---+

In [83]:
df_pyspk["NAME"]

Column<'NAME'>

In [58]:
#checking Datatypes
df_pyspk.dtypes

[('NAME', 'string'), ('AGE', 'int'), ('EXP', 'int')]

In [84]:
#describe
df_pyspk.describe().show()

+-------+-----+------------------+------------------+
|summary| NAME|               AGE|               EXP|
+-------+-----+------------------+------------------+
|  count|    4|                 4|                 4|
|   mean| null|             57.75|              5.25|
| stddev| null|25.447658700425336|0.9574271077563381|
|    min|harry|                32|                 4|
|    max|sayan|                89|                 6|
+-------+-----+------------------+------------------+

In [66]:
#Adding column in dataframes
df_pyspk=df_pyspk.withColumn('TOTAL EXP',df_pyspk['EXP']+3)

In [74]:
df_pyspk

In [88]:
#droping a column 
df_pyspk=df_pyspk.drop("TOTAL EXP").show()

+-----+---+---+
| NAME|AGE|EXP|
+-----+---+---+
|harry| 32|  4|
|rohan| 67|  5|
|sayan| 89|  6|
|rohit| 43|  6|
+-----+---+---+

In [87]:
#Rename a column
df_pyspk.withColumnRenamed("NAME",'EMP NAME').show()

+--------+---+---+
|EMP NAME|AGE|EXP|
+--------+---+---+
|   harry| 32|  4|
|   rohan| 67|  5|
|   sayan| 89|  6|
|   rohit| 43|  6|
+--------+---+---+